asgiref
astroid
bokeh
boto
boto3
botocore
certifi
chardet
click
colorama
cycler
Cython
Django
django-static-ionicons
docutils
gensim
idna
importlib-metadata
isort
Jinja2
jmespath
joblib
kiwisolver
lazy-object-proxy
Markdown
MarkupSafe
martor
matplotlib
mccabe
nltk
numpy
packaging
pandas
pdfminer
Pillow
plotly
psycopg2
punk
pycryptodome
pylint
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
retrying
s3transfer
scikit-learn
scipy
six
smart-open
sqlparse
threadpoolctl
toml
tornado
tqdm
typed-ast
typing-extensions
urllib3
wordcloud
wrapt
zipp
bertopic
vaderSentiment
emoji
contractions
openpyxl
mpld3
textblob