asgiref
astroid
bertopic
bert_score
bokeh
boto
boto3
botocore
certifi
chardet
click
colorama
contractions
cycler
Cython
Django
django-static-ionicons
docutils
emoji
gensim
idna
importlib-metadata
isort
Jinja2
jmespath
joblib
kiwisolver
lazy-object-proxy
Markdown
MarkupSafe
martor
matplotlib
mccabe
mpld3
nltk
numpy
openai
openpyxl
packaging
pandas
pdfminer
Pillow
plotly
psycopg2
punk
pycryptodome
pylint
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
retrying
rouge-score
s3transfer
scikit-learn
scipy
sentencepiece
six
smart-open
sumy
sqlparse
textblob
threadpoolctl
toml
top2vec
torch==2.0.0+cu117 -f https://download.pytorch.org/whl/torch_stable.html
tornado
tqdm
typed-ast
typing-extensions
urllib3
wordcloud
wrapt
vaderSentiment
xlsxwriter
zipp